.btn {
  color: #5f6bb3;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 1px solid #5f6bb3;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
}
.btn:hover {
  background-color: #f7c04a;
  color: white;
}
.btn.active,
.btn.activePage {
  background-color: #f7c04a;
  color: white;
}
.btn:disabled {
  background-color: rgb(177, 170, 170);
  cursor: not-allowed;
}
